<!DOCTYPE html>
<html lang="en">
<head>
  <title>CARWITHCARE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
  {% load staticfiles%}
  <link rel="shortcut icon" type="image/png" href="{%static 'img/car.jpg'%}">



<style>
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link
{
  color:#fff;
  font-weight:700;
}
.modal-backdrop
{
background:#8888886b;
}
.modal-content
{
box-shadow:7px 8px 20px 8px #00000080;
}
.modal
{
top:10%;
}
#driverlogin,#driversignup
{
    display:none;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color:#fff;
    font-weight:700;
}
</style>
        <script>

            function showuserlogin()
            {
                document.getElementById("driverlogin").style.display="none";
                document.getElementById("userlogin").style.display="block";
            }

            function showdriverlogin()
            {
                document.getElementById("userlogin").style.display="none";
                document.getElementById("driverlogin").style.display="block";
            }


            function showusersignup()
            {
                document.getElementById("driversignup").style.display="none";
                document.getElementById("usersignup").style.display="block";
            }

            function showdriversignup()
            {
                document.getElementById("usersignup").style.display="none";
                document.getElementById("driversignup").style.display="block";
            }

        </script>
  </head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #2f21145c!important;">
  <div class="container">
    <a class="navbar-brand" style="color:#fff;font-family: 'Akronim', cursive;" href="#">CARWITHCARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="color:#fff;">
        <li class="nav-item active" >
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#login" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#myModal" href="#">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('{% static 'img/1.jpg'%}')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">{{txt1}}</h2>

          <p class="lead"></p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('{% static 'img/2.jpg'%}')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>

          <p class="lead"></p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('{% static 'img/3.jpg'%}')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
          <p class="lead"></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>


{%ifequal "Your Signup is success" txt1 %}
<meta http-equiv = "refresh" content = "2; url = /" />
{%endifequal%}
{%ifequal "OTP is not matched" txt1 %}
<meta http-equiv = "refresh" content = "2; url = /" />
{%endifequal%}
{%ifequal "Invalid username or emailid" msg1 %}
<meta http-equiv = "refresh" content = "2; url = /" />
{%endifequal%}
</div>

<div class="modal" id="login">
    <
    <div class="modal-dialog modal-dialog-scrollable" >
      <div class="modal-content">
    <button class="btn btn-primary" onclick="showuserlogin()">User Login</button> <button class="btn btn-danger" onclick="showdriverlogin()">Driver Login</button>
        <!-- Modal body -->
        <div class="modal-body" id="userlogin">
          <div class="container">
            <h2>User Login</h2>
		<form method="POST" action="/login/">
		    {% csrf_token %}
		<div class="form-group">
			<label for="name">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required pattern="[A-Za-z0-9_]+" title="No Special characters">
		</div>

		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required >
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
</div>
        </div>

          <div class="modal-body" id="driverlogin">
          <div class="container">
            <h2>Driver Login</h2>
		<form method="POST" action="/logindriver/">
		    {% csrf_token %}
		<div class="form-group">
			<label for="name">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required pattern="[A-Za-z0-9_]+" title="No Special characters">
		</div>

		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required >
		</div>

		<button type="submit" class="btn btn-danger">Submit</button>
		</form>
</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>

  </div>

 <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">

      <div class="modal-content">
 <button class="btn btn-primary" onclick="showusersignup()">User Signup</button> <button class="btn btn-danger" onclick="showdriversignup()">Driver Signup</button>
        <!-- Modal body -->
        <div class="modal-body" id="usersignup">
          <div class="container">
   <h2>User Signup</h2>
	    <form method="POST" id="form1" action="/signup/">
		    {% csrf_token %}
		<div class="form-group">
			<label for="name">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required pattern="[A-Za-z0-9_]+" title="No Special characters">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
</div>
        </div>

           <div class="modal-body" id="driversignup">
          <div class="container">
   <h2>Driver Signup</h2>
	    <form method="POST" id="form2" action="/signupdriver/">
		    {% csrf_token %}
		<div class="form-group">
			<label for="name">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required pattern="[A-Za-z0-9_]+" title="No Special characters">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
		</div>

		<button type="submit" name="driversignup" class="btn btn-danger">Submit</button>
		</form>
</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
